/* src/index.css */
@font-face {
  font-family: 'ArrowFont';
  src: url('./fonts/ArrowFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuperWaterFort';
  src: url('./fonts/SuperWaterFort.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SuperWaterFort', sans-serif;
}
